{% extends "base.html" %}
{% block currpage %}404 | Page not Found{% endblock currpage %}

{% block body %}
<div class="my-5 container">
    <div class="row text-center">
        <h1 class="h1">Page not Found</h1>
        <p class="lead my-3 fs-4">You have entered an invalid URL. URL Shortener links are case sensitive. Please recheck the URL.</p>
    </div>
    <br>
    <div class="row text-center">
        <p class="lead my-3 fs-5">Return to <a href="/">Homepage</a></p>
    </div>
</div>
{% endblock body %}